<p id="notice"></p>

<p>
<div class="title">
	<strong>Title:</strong>
</div>
  <%= @post.title %>
  <div class="palindrome" >Insert Palindrome
  <%= @post.palindrome %>
  </div>
  <div class="detect_palindrome" >Print Palindrome Results
  <%= @post.palindrome? %>
  </div>
  <div class="detect_smallest_palindrome">Detect Smallest Palindrome Here
  <%= @post.largest_palindrome %>
  </div>
</p>

<p>
  <strong>Photo:</strong>
  <div class="image">
    <%= image_tag(url_for @post.photo) if @post.photo.attached? %>
  </div>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
